# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
*.jks
*.keystore

# iOS
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcshareddata/
**/xcuserdata/

# Web
web/

# Coverage
coverage/

# Symbols
app.*.symbols

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.iml

# Secrets / env
.env
.env.*
*_secrets.dart
